version: "3.8"

services:
  app:
    build: .
    ports:
      - "8080:3080"
    depends_on:
      - mongo
      - redis
    environment:
      - SERVER_PORT=3080
      - MONGODB_URI=mongodb://mongo:27017
    networks:
      - app-network

  mongo:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    networks:
      - app-network

  redis:
    image: redis:alpine
    ports:
      - "6379:6379"
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  mongo-data:
